body {
  font-family: "Titillium Web", sans-serif;
  line-height: 1.7;
  background-color: antiquewhite;
}

.container {
  display: grid;
  grid-template-columns:
    [container-start] 1fr [center-start] repeat(
      10,
      [col-start] minmax(min-content, 110px) [col-end]
    )
    [center-end] 1fr[container-end];

  grid-template-rows: 100vh repeat(8, min-content);
}

/* Anchor tag styling*/
a:link,
a:visited {
  color: purple;
  text-decoration: none;
  position: relative;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
  z-index: 1;
}

p {
  color: white;
}

li {
  list-style: none;
  margin-bottom: 4rem;
}

/* Main styling */

#header {
  background-color: paleturquoise;
  grid-column: 1 / 13;
}

#about-me {
  background-color: pink;
  grid-column: 2 / 7;
  height: 400px;
}

#contact-me {
  background-color: plum;
  grid-column: 7 / 12;
  height: 400px;
}

#posts {
  background-color: sandybrown;
  grid-column: container-start / container-end;
  height: 400px;
}

#moto {
  background-color: violet;
  grid-column: container-start / container-end;
  height: 400px;
}

#event-content {
  background-color: thistle;
  grid-column: container-start / col-end 9;
  height: 400px;
}

#event-date {
  background-color: palegoldenrod;
  grid-column: col-start 10 / container-end;
  height: 400px;
}

#gallery-text {
  background-color: palegreen;
  grid-column: center-start / col-end 1;
  height: 400px;
}

#gallery-carousel {
  background-color: paleturquoise;
  grid-column: col-start 2 / container-end;
}

#feature-content {
  background-color: pink;
  grid-column: container-start / col-end 9;
  height: 400px;
}

#feature-date {
  background-color: plum;
  grid-column: col-start 10 / center-end;
  height: 400px;
}

#testimonals {
  background-color: lightgreen;
  grid-column: center-start / center-end;
  height: 400px;
}
#footer {
  background-color: paleturquoise;
  grid-column: container-start / container-end;
  height: 400px;
}
