body {
  font-family: "Titillium Web", sans-serif;
  line-height: 1.7;
  background-color: #fde0ff;
}

@media (max-width: 600px) {
  body {
    background-color: royalblue;
  }
  .items {
    font-size: 15px;
  }
}

.container-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.items {
  padding: 10px;
  margin: 30px;
}

.title-blog-page {
  margin: 0;
  text-align: center;
  font-size: 45px;
}

.intro-text {
  text-align: center;
}
.container-blog-posts {
  margin: 40px 130px auto;

  display: grid;
  grid-template-rows: 660px 660px;
  grid-template-columns: 360px 360px 360px;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}

.card {
  border-radius: 10px 10px 10px 10px;
  color: white;
}

.london {
  border-radius: 10px 10px 0px 0px;
}

.card--1 {
  background-color: white;
}
.card--2 {
  background-color: white;
}
.card--3 {
  background-color: white;
}
.card--4 {
  background-color: white;
}
.card--5 {
  background-color: white;
}
.card--6 {
  background-color: white;
}

.btn-read-more {
  background-color: #2a3038;
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 10px 5px;
}

.bottom-half {
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  color: black;
  padding: 10px;
}

.bottom-half p {
  margin: 0 auto;
}

.underline-text {
  text-decoration: underline;
  opacity: 0.5;
}

h2 {
  margin: 0 auto;
}
