body {
  font-family: "Titillium Web", sans-serif;
  line-height: 1.7;
  background-color: antiquewhite;
}

.container {
  display: grid;
  grid-template-columns:
    [container-start] 1fr [center-start] repeat(
      10,
      [col-start] minmax(min-content, 110px) [col-end]
    )
    [center-end] 1fr[container-end];

  grid-template-rows: 100vh repeat(8, min-content);
}

/* Anchor tag styling*/
a:link,
a:visited {
  color: white;
  text-decoration: none;
  position: relative;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
  z-index: 1;
}

p {
  color: white;
}

li {
  list-style: none;
  margin-bottom: 4rem;
}

/* Main styling */

#header {
  grid-column: 1 / 13;
  background: url("images/hero.jpg");
  /* background url shorthand and not background image
  that way we can apply more than one background */
  /*background: rgb(161, 154, 154);*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#about-me {
  background-color: pink;
  grid-column: 2 / 7;
  height: 400px;
}

#booking {
  background-color: plum;
  grid-column: 7 / 12;
  height: 400px;
}

section#villas {
  grid-column: container-start / container-end;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.villa_villa-1,
.villa_villa-2,
.villa_villa-3,
.villa_villa-4,
.villa_villa-5,
.villa_villa-6 {
  padding: 2rem;
}

.villa_villa-1-title,
.villa_villa-2-title,
.villa_villa-3-title,
.villa_villa-4-title,
.villa_villa-5-title,
.villa_villa-6-title {
  text-transform: uppercase;
  font-weight: 300;
}

.villa_villa-1-para,
.villa_villa-2-para,
.villa_villa-3-para,
.villa_villa-4-para,
.villa_villa-5-para,
.villa_villa-6-para {
  color: white;
}

.villa_villa-1 {
  background: url("images/Villas/villa-1.jpg");
  background-position: center;
  background-size: cover;
}

.villa_villa-2 {
  background: url("images/Villas/villa-2.jpg");
  background-position: center;
  background-size: cover;
}

.villa_villa-3 {
  background: url("images/Villas/villa-3.jpg");
  background-position: center;
  background-size: cover;
}

.villa_villa-4 {
  background: url("images/Villas/villa-4.jpg");
  background-position: center;
  background-size: cover;
}

.villa_villa-5 {
  background: url("images/Villas/villa-5.jpg");
  background-position: center;
  background-size: cover;
}

.villa_villa-6 {
  background: url("images/Villas/villa-6.jpg");
  background-position: center;
  background-size: cover;
}
section#moto {
  background-color: burlywood;
  grid-column: container-start / container-end;
  height: 300px;
}

.moto-title {
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.moto-para {
  width: 80%;
  margin: 0 auto; /* left and right margin is 0 to center it */
  text-align: center;
}

section#event-content {
  background-color: thistle;
  grid-column: container-start / col-end 9;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.event-content-title {
  font-weight: 300;
  margin-left: 30px;
  text-transform: uppercase;
}

.event-content_event-1 {
  background: url("images/Events/beach-party.jpg");

  background-position: center;
  background-size: cover;
  padding: 2rem;
}

.event-content_event-2 {
  background: url("images/Events/culture-discovery.jpg");
  background-position: center;
  background-size: cover;
  padding: 2rem;
}

section#event-text-section {
  background-color: palegoldenrod;
  grid-column: col-start 10 / container-end;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 400px;
  place-items: center;
}

.event-text-title {
  text-transform: uppercase;

  font-weight: 500;
  color: white;
  letter-spacing: 1rem;
  transform: rotate(0.25turn);
}

#gallery-text-section {
  background-color: palegreen;
  grid-column: center-start / col-end 1;
  height: 400px;
  place-items: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.gallery-text-title {
  text-transform: uppercase;

  font-weight: 500;
  color: white;
  letter-spacing: 1rem;
  transform: rotate(270deg);
  /*transform: rotate(-0.25turn);*/
}

section#gallery-carousel {
  background-color: paleturquoise;
  grid-column: col-start 2 / container-end;
  height: 100vh;
  overflow: hidden; /* cant see any other images spilliling out of this container*/
  border: solid 2px yellow;
  position: relative;
}

/* Image container */

.gallery-carousel_img-container {
  background-color: lawngreen;
  height: 100%;
  width: 100%;
  position: relative;
}

/* Image container list (UL)*/

.gallery-carousel_img-container-list {
  position: relative;
  height: 100%;
  width: 100%;
  transition: tranform 2s ease-in-out;
  /* This transition applys when one image switches to the next */
}

/* Image container list items (LI'S)*/
.gallery-carousel-item {
  position: absolute;
  /* position absolute grabs all the images and stacks them on top of eachother*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gallery-carousel-item img {
  width: 100%;
  height: 100;
  object-fit: cover;
}

.gallery-carousel_btn {
  position: absolute;
  top: 50%;
  background: transparent;
  border: none;
  outline: none;
  /*everytime you click on button you get a blue outline so set it to none*/
  cursor: pointer;
  z-index: 1;
  font-size: 50px;
  color: yellow;
}

.gallery-carousel_btn--right {
  right: 0;
}

/* carousel Nav*/
.gallery-carousel_nav {
  position: absolute;
  bottom: 0;
  left: 35%;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.gallery-carousel_nav-btn {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: yellow;
  border: none;
  outline: none;
  cursor: pointer;
}

.current-img {
  background-color: brown;
}

#feature-content {
  background-color: pink;
  grid-column: container-start / col-end 9;
  height: 400px;
}

#feature-date {
  background-color: plum;
  grid-column: col-start 10 / center-end;
  height: 400px;
}

#testimonals {
  background-color: lightgreen;
  grid-column: center-start / center-end;
  height: 400px;
}
#footer {
  background-color: paleturquoise;
  grid-column: container-start / container-end;
  height: 400px;
}

.header-main-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.header-main-nav input[type="checkbox"] {
  position: absolute;
  top: 3rem;
  left: 3rem;
  height: 5rem;
  width: 5rem;
  opacity: 0;
  cursor: pointer;

  z-index: 3;
}

#discover-more-btn {
  text-align: center;
}

a:hover {
  background-color: #560d0d;
  padding: 10px;
  transition: background-color 0.2s ease-in-out;
}

.header-main-hamburger {
  position: absolute;
  top: 3rem;
  left: 3rem;
  height: 5rem;
  width: 5rem;
  padding: 0rem;
  z-index: 2;
  background-color: yellow;
  display: grid;
  place-items: center;
}

.header-main-hamburger > div {
  position: relative;
  height: 0.3rem;
  width: 100%;
}

.title-discover-serentity {
  font-weight: 300;
}

.header_button {
  border: 3px solid #560d0d;
}

#main-title {
  font-size: 100px;
  font-weight: 300;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

#main-discription-header {
  text-align: center;
  font-weight: 300;
  font-size: 30px;
}
